@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    --grid-column-percentage: 15%;
}

body {
    background-color: rgba(0, 0, 0, 0.2);
}

.header {
    display: grid;
    grid-template-columns: minmax(0, var(--grid-column-percentage)) 1fr 1fr minmax(0, var(--grid-column-percentage));
    padding: 20px 0;
    background-color: white;
    box-shadow: 0px 6px 2px -2px rgba(0, 0, 0, 0.2);
}

.header h1 {
    grid-column: 2/3;
    font-size: 55px;
    font-weight: bolder;
    margin: 0;
    align-self: center;
}

.header a {
    grid-column: 3/4;
    justify-self: end;
    align-self: center;
}

.header img {
    height: 70px;
}

.content-wrapper {
    display: grid;
    grid-template-columns: minmax(0, var(--grid-column-percentage)) 1fr minmax(0, var(--grid-column-percentage));
    padding-top: 40px;
}

.content {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 20px;
}

.book {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    height: 300px;
    display: flex;
    flex-direction: column;

    .author {
        margin-bottom: auto;
    }

    .interaction {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        /* might be easier to just make my own checkbox in javascript than try to syle the default one */

        .remove {
            border: 0;
            padding: 7px 13px;
            border-radius: 10px;
            background-color: #ff3333;
            color: white;
        }
    }
}

.read-form {
    display: flex;
}

.checkbox {
    height: 25px;
    width: 25px;
    margin-right: 10px;
    cursor: pointer;
}

.label {
    font-size: 20px;
}

.add {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    cursor: pointer;

    .add-icon {
        fill: #555555;
    }
}

form {
    /* visibility: hidden; */
    /* position: absolute; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 10px;
    font-size: 20px;

    .read-form {
        margin-top: 10px;
    }

    .buttons {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .button {
            border: 0;
            border-radius: 10px;
            padding: 7px 13px;
        }

        .cancel {
            color: white;
            background-color: #ff3333;
        }

        .reset {
            background-color: #dddddd;
        }

        .submit {
            background-color: #47d147;
        }
    }
}

input {
    font-size: 20px;
    border: 0;
    border-radius: 10px;
    background-color: #eeeeee;
    padding-left: 8px;
}

input:focus {
    background-color: #dddddd;
}